.sidebarOption{
    display:flex;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
}

.sidebarOption--active{
    color: var(--twitter-color);
}


.sidebarOption > .MuiSvgIcon-root{
    padding: 15px;
}

.sidebarOption:hover{
    background-color: #e8f5fe;
    border-radius:30px;
    color:var(--twitter-color);
    transition: color 100ms ease-out;
}

span{
    font-size:17px;
    font-weight: 700;
    margin-right: 15px;
}